# ===================================================================
# artellapipe-launcher requirements file
# ===================================================================
PySide;python_version <= '3.4'
PySide2;python_version > '3.4'
pathlib2
requests
lxml
beautifulsoup4
packaging
PyInstaller
appdirs
backports.tempfile